$header-hight: 60px;
$sidebar-width: 300px;

.todo {
  display: grid;
  grid-template-rows: $header-hight calc(100vh - $header-hight);
  grid-template-columns: $header-hight calc(100vw - $header-width);
  &__header {
    // grid-row-start: 1;
    // grid-row-end: 2;
    // grid-column-start: 1;
    // grid-column-end: -1;
    grid-column: 1/-1;
    grid-row: 1/2;
    // background: red;
  }
  &__sidebar {
    // grid-row-start: 2;
    // grid-row-end: -1;
    // grid-column-start: 1;
    // grid-column-end: 2;

    grid-row: 2/-1;
    grid-column: 1/2;
    // background: tan;
  }
  &__content {
    // grid-row-start: 2;
    // grid-row-end: -1;
    grid-column-start: 2;

    grid-row: 2/-1;
    // grid-column-end: -1;
    // background-color: antiquewhite;
  }
}
